*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.settings
node_modules
scripts/rules/*.html
rules.xml
scripts/package-lock.json
examples/**/bin/Debug/**
examples/**/obj/Debug/**